<h1>This is the feedback:</h1>

<!-- {{#each feedback}}
<ul> {{#if type postive}}
<h3>Postive:</h3>
<li> {{subject}} </li>
</ul>
<ul> {{else}}
<h3>Negative:</h3>
<li> {{subject}} </li>
</ul>
  {{/if}}
{{/each}} -->

<!-- handlebars -->
