<form >
  <input type="text" name="subject" value=""> //req.params.subject
  <input type="text" name="" value="">
  <input type="checkbox" name="" value=""> //checkbox value???
</form>

//do hoework research on how to grab the value of a html textbox
