<h1>This is the feedback:</h1>
<h3><a href="/feedback/new">Make New Feedback:</a></h3>

<img src="images/Header.jpg" alt="Soap ^Complaint Box">

{{#each feedback}}
    <ul>
        <a href="/feedback/{{_id}}">
            <li>{{subject}}</li>
        </a>
        </form>
    </ul>
{{/each}}
