<h1>This is the subject: {{feedback.subject}}</h1>
<h2>This is the details: {{feedback.detail}}</h2>
<a href="/feedback/{{feedback._id}}/edit">Edit</a> |
<form style="display: inline;" action="/feedback/{{feedback._id}}?_method=DELETE" method="POST">
      <input type="submit" name="" value="X">
    </form>
