<h1>This is the subject: {{feedback.subject}}</h1>


<p>{{feedback.detail}}</p>

<form action="/feedback/{{feedback.id}}/edit">
    <input type="submit" value="Edit">
</form>

<form action="/feedback/{{feedback.id}}?_method=DELETE" method="post">
    <input type="submit" value="DELETE" />
</form>
