<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Soap ^Complaint Box</title>
</head>

<body>
    <header>
        <!-- <img src="/images/Header.jpg" alt="Soap ^Complaint Box"> -->
    </header>
    <h1><a href="/users/signup">Signup</a> | <a href="/sessions/login">Login</a> |  <a href="/feedback">Feedback</a></h1> {{{body}}}
    <footer><a href="https://somebodie.github.io/portfolio/">Portfilo</a> | <a href="https://github.com/somebodie/Soap_Complaint_Box">Github</a> | Made by S0m3b0di3</footer> |
    <form method="post" action="/sessions?_method=DELETE">
        <input type="submit" value="logout">
    </form>
</body>

</html>
